{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-7 texts mr-4">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 texts">
                    <!-- <form action="">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-warning" value="Pay">
                        </div>
                    </form> -->
                </div>
                <div class="col-md-12 texts results">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Receipt No</th>
                                <th>Amount</th>
                                <th>Phone No</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{transaction.mpesa_receipt_no}}</td>
                                <td> {{transaction.amount}} </td>
                                <td> {{transaction.phone_number|truncatechars:11}} </td>
                            </tr>
                            {% empty %}
                            <p class="text-center">No transactions yet</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{block.super}}
<script>
    $('form#Pay').submit(function (event) {
        event.preventDefault()
        form = $('form#Pay')

        $.ajax({
            'url': '/safaricom/create_payment/',
            'type': 'POST',
            'data': form.serialize(),
            'dataType': 'json',
            'success': function (data) {
                alert(data['success'])
            }
        })
        $('#id_first_name').val('');
        $('#id_phone_number').val('');
    })
</script>
{% endblock %}
